fluentd:
  disablePvc: true
tls:
  enabled: true
clusterFlows:
  - name: all-pods
    spec:
      outputRefs:
        - loki
clusterOutputs:
  - name: loki
    spec:
      loki:
        url: http://loki:3100
        configure_kubernetes_labels: true
